<h1>Bustle</h1>

<ul>
  {{#each model as |stories|}}
    <li>{{stories.headline}} by: {{stories.author}} in {{stories.category}}</li>
  {{/each}}
</ul>

{{#link-to 'admin'}}Click here to add or edit stories.{{/link-to}}
