<h1>Bustle</h1>

<ul>
  <li>News</li>
  <li>Entertainment</li>
  <li>Fashion &amp; Beauty</li>
  <li>Lifestyle</li>
  <li>Books</li>
  <li>Explore</li>
  <li>About</li>
</ul>

{{#link-to 'admin'}}Click here to add or edit stories.{{/link-to}}
